.product-quantity{
    font-weight: 200;
}

.product-name{
    text-transform: capitalize;
}

.product{
    /* border: 2px solid black; */
    height: 25vh;
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, .4); */
    border-radius: 1rem;
    transition: all .5s;

    padding-left: 10px;
}

.product:hover{
    /* background-color: rgba(255, 255, 255, 0.4); */
}

.products-card-body:hover{
    background-color: rgba(255, 255, 255, .3);
}

.products-card-body{
    padding: 2%;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    border: 1px solid rgb(197, 62, 250);
    border-radius: 1em;
    color: white;
    transition: background-color 1s ease-out;
}

.products-card-body h2, p{
    text-decoration: none;
}


