.product-quantity{
    font-weight: 200;
}

.product-name{
    text-transform: capitalize;
}

.product{
    /* border: 2px solid black; */
    height: 25vh;
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 1rem;
    transition: all .5s;

    padding-left: 10px;
}

.product:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.product-card-body{
    justify-self: baseline;   
    display: flex;
    align-items: baseline;

    width: 100%;
}
