.wrapper {
  width: 85%;
}
.itemList {
  padding-top: 40px;
}
@media only screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
  .itemList {
    padding-top: 15px;
  }
}
.inputButton {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0px;
}
.summaryInput {
  height: 30px;
  padding: 10px;
  width: 240px;
}
.summaryButton {
  outline: none;
  border: none;
  color: white;
  height: 30px;
  background-color: #573ba3;
  margin-left: 5px;
  padding: 0px 5px;
}
.orderButton {
  float: right;
}
