.main-filter-ctn{
    display: block;
    width: 100vw;
    bottom: 0px;
    padding: 10px 0px;
    background-color:rgb(0, 0, 0, .3);

}

.main-filter{
    display: flex;
    justify-content: space-around;
}

.main-label{
    border-radius: 0;
    background-color: transparent;
    border: none;
}