.footer {
    padding-top: 30px;
    background-color: #1c1c2c;
    /* position: absolute;
    bottom: 0; */
    width: 100vw;
    /* margin-top: 1rem; */
    padding-top: 0.7rem;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
}

/********************************************/


h6 {
    text-transform: uppercase;
    filter: brightness(200%);
    display: inline-flex;
}


.title-catelgories::before {
    content: 'categories';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.title-get-in-touch::before {
    content: 'get in touch';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.title-help::before {
    content: 'help';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.title-developers::before {
    content: 'developers';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}




/********************************************/

li {
    padding: 0.22rem;
    color: #898989;
}

p {
    padding: 0.17rem;
    font-size: 0.55rem;
    color: #898989;
}

.social {
    font-size: 1.4rem;
    display: inline;
    margin: 0 5%;
}



.developers li {
    display: inline;
    margin: 0 1.7%;
    font-size: 0.65rem;
    /* filter: brightness(200%); */
}

.neil:hover::before {
    text-transform: uppercase;
    content: 'neil';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);

}
.gustavo:hover {
    text-transform: uppercase;
}
.brandon:hover {
    text-transform: uppercase;
}
.crystal:hover {
    text-transform: uppercase;
}
.caitlyn:hover {
    text-transform: uppercase;
}