.footer {
    padding-top: 30px;
    background-color: #1c1c2c;

    /* position: absolute;
    bottom: 0; */

    width: 100vw;
    /* margin-top: 1rem; */
    padding-top: 0.7rem;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
}

/********************************************/


h6 {
    text-transform: uppercase;
    filter: brightness(200%);
    display: inline-flex;
}


.title-catelgories::before {
    content: 'categories';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.title-categories li {
    background: linear-gradient(to right, rgb(255, 238, 0), rgb(241, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.title-get-in-touch::before {
    content: 'get in touch';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.title-help::before {
    content: 'help';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.title-developers::before {
    content: 'developers';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}





/********************************************/

li {
    padding: 0.22rem;
    color: #898989;
}

p {
    padding: 0.17rem;
    font-size: 0.55rem;
    color: #898989;
}

.social {
    font-size: 1.4rem;
    display: inline;
    margin: 0 5%;
    background: linear-gradient(to right, rgb(255, 238, 0), rgb(241, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.developers li {
    display: inline;
    margin: 0 1.7%;
    font-size: 0.65rem;
    /* filter: brightness(200%); */
}

.neil:hover {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(255, 238, 0), rgb(241, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.neil:before {
    content: 'neil';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(4px);
}

.neil {
    filter: brightness(200%);  
}



.gustavo:hover {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(255, 238, 0), rgb(241, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gustavo:before {
    content: 'neil';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(4px);
}

.gustavo {
    filter: brightness(200%);  
}

.brandon:hover {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(255, 238, 0), rgb(241, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brandon:before {
    content: 'neil';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(4px);
}

.brandon {
    filter: brightness(200%);  
}


.crystal:hover {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(255, 238, 0), rgb(241, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.crystal:before {
    content: 'neil';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(4px);
}

.crystal {
    filter: brightness(200%);  
}

.caitlyn:hover {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(255, 238, 0), rgb(241, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.caitlyn:before {
    content: 'neil';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(4px);
}

.caitlyn {
    filter: brightness(200%);  
}