.custom-navbar{
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.hamburger-menu{
  display: none;
  padding-top: 3px;
}

.navbar-itmes{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.navbar-links{

}

.navbar-items-left a{
  margin: 0% .5rem;
  color: white;
  text-decoration: none;
  /* font-weight: 300; */
}

.navbar-items-left:last-child{
  font-weight: 600;
}

.navbar-items-left{
  margin: 0 3rem;
  display: flex;
}

.navbar-items-right{
  margin: 0 3rem;
}

.navbar-items-right a{
  margin: 0% .5rem;
  color: white;
  text-decoration: none;
  /* font-weight: 300; */
}

.navbar-logo{
  min-width: 15vw;
  height: 6vh;
  margin-left: 1rem;
}

.navbar-icons{
  margin: 0 10px;
}


@media screen and (max-width: 1000px) {
  .page-width {
    width: 100%;
  }

  .hamburger-menu{
    display: block;
    color: white;
    font-size: 20px;
  }

  .navbar-items-right{
    margin: 0;
  }

  .navbar-items-left{
    display: flex;
    justify-content: space-between;
    margin: 0;
    /* display: none; */
  }

  .show{
    display: block;
  }

  .navbar-links{
    display: none;
    position: absolute;
    top: 40px;
    flex-direction: column;
    width: 100vw;
    z-index: 3;
    background-color: rgb(0, 0, 0, .8);
    }

  .navbar-logo{
    width: 160px;
    height: 5vh;
    margin-left: 1rem;
    margin-top: .5rem;
  }
}

