.custom-navbar{
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.navbar-itmes{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.navbar-items-left a{
  margin: 0% .5rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.navbar-items-left:last-child{
  
}

.navbar-items-left{
  margin: 0 3rem;
}

.navbar-items-right{
  margin: 0 3rem;
}

.navbar-items-right a{
  margin: 0% .5rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.navbar-logo{
  width: 15vw;
  height: 6vh;
  margin-left: 1rem;
}


@media screen and (max-width: 800px) {
  .page-width {
    width: 100%;
  }
}

